//- looks for 'alert'  
//- looks for postId, postTitle, postAuthor, postText
extend layout

block content


	.col-sm-9.col-md-10
		#alert
			- var alertType;
			- if (statusCode === 200) {
			-	alertType = 'alert-success';
			-	}
			- else if (statusCode === 304) {
			-	alertType = 'alert-warning'
			- }
			- else {
			-	alertType = 'alert-danger'
			-	} 

			if alert
				div(class="alert alert-dismissable #{alertType}")
					button.close( type="button", data-dismiss="alert" ) &times;
					| #{alert}

		if postId
			h3 Edit Post
			br
			form(action='edit/#{postId}?method=PUT', method='POST')
				label Name:
					input(type='text', name='author' value='#{postAuthor}' required)
				label Title:
					input(type='text', name='title' value='#{postTitle}' required)
				label Text:
					textarea(rows='10' cols='50' name='text' required) #{postText} 
				input(type='submit', value='Edit Post')
		else
			h3 Compose Post
			br
			form(action='edit', method='POST')
				label Name:
					input(type='text', name='author' required)
				label Title:
					input(type='text', name='title' required)
				label Text:
					textarea(rows='10' cols='50' name='text' required)
				input(type='submit', value='Submit Post')