doctype
html
	head
	title Blog
	//- link(rel='stylesheet', href='/stylesheets/style.css')
	body
	header
		h1 Lets Blog!
		a(href='/edit') edit page

		
		//- -console.log(posts);
		
		h2= testString

		h2= testArray
		
		h2 #{testArray}
		each elem in testArray
			p=elem

		h2= posts
		//- each post in posts
		//- 	h3= post.title
		//- 	p= post.text
		//- 	p= post.author
