doctype html
html
	head
		title Blogger

		link(rel='stylesheet', href='/bootstrap.min.css')
		link(rel='stylesheet', href='/style.css')
		
		script(src='/jquery-2.1.3.min.js')
		script(src='/bootstrap.min.js')

	body
		.container
			.row
				//- header -theres no header here! 
				.col-sm-3.col-md-2
					.navbar
						h3
							a(href='/') Home
						br
						ul
						if posts
							each post in posts
								li
									if (view === 'edit')
										a(href='/edit/#{post._id}?method=GET') #{post.title} 
										a(href='/#{post._id}?method=DELETE') &times;
									else
										a(href='/#{post._id}?method=GET') #{post.title}
						else
							li Error loading posts

				block content

		footer
			.container
				p.text-muted Created by:
					a.text-muted(href='http://codependentfc.github.io/') Codependent